<div uk-grid>
<div class="uk-width-1-1">
<p>||TODAY||<br />
||OWNER NAME||<br />
||OWNER FORMATTED ADDRESS||<br />
</p>

<p>OHFA Tracking Number: ||PROJECT NUMBER||<br />
Audit: ||AUDIT ID||</p>

<p>Dear ||OWNER NAME||:</p>

<p>The Ohio Housing Finance Agency (“OHFA”) completed a monitoring review of ||PROJECT NAME|| on ||REVIEW DATE||. The review was performed to determine if the development is in compliance with the requirements of ||PROGRAMS||.</p>

<p>The attached report summarizes OHFA’s findings of noncompliance and the documentation that must be submitted to correct these findings. This notice begins the corrective action period. You must supply all requested documentation no later than ||RESPONSE DUE||.</p>

<p>Section 42 of the Internal Revenue Code requires OHFA to report all noncompliance under the HTC program to the Internal Revenue Service (IRS), even if the noncompliance is corrected. Form(s) 8823 (Notice of Noncompliance) will be mailed to the IRS, with a copy to the owner, after the corrective action deadline. It is the owner’s responsibility to maintain compliance.</p>

</div>


	<div class="uk-width-1-2">
		<p>Sincerely,</p>

		<p></p>
		<p></p>

		<p>||LEAD NAME||<br />
		Compliance Analyst<br />
		Office Program Compliance</p>
	</div>
	<div class="uk-width-1-2">
		<p>Approved by:</p>
		<p></p>
		<p></p>


		<p>||MANAGER NAME||<br />
		Compliance Manager<br />
		Office Program Compliance</p>
	</div>
</div>
