@font-face {
  font-family: 'allita';
  src:  url('../fonts/allita.eot?sck7l3');
  src:  url('../fonts/allita.eot?sck7l3#iefix') format('embedded-opentype'),
    url('../fonts/allita.ttf?sck7l3') format('truetype'),
    url('../fonts/allita.woff?sck7l3') format('woff'),
    url('../fonts/allita.svg?sck7l3#allita') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="a-"], [class*=" a-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'allita' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.7;
  font-size:1.2em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.a-ball:before {
  content: "\e900";
}
.a-h-2:before {
  content: "\e901";
}
.a-h:before {
  content: "\e902";
}
.a-abacus:before {
  content: "\e903";
}
.a-agenda:before {
  content: "\e904";
}
.a-alarm-2:before {
  content: "\e905";
}
.a-alarm-check:before {
  content: "\e906";
}
.a-alarm-not:before {
  content: "\e907";
}
.a-alarm-plus:before {
  content: "\e908";
}
.a-alarm-z:before {
  content: "\e909";
}
.a-alarm:before {
  content: "\e90a";
}
.a-alpha:before {
  content: "\e90b";
}
.a-ambulance:before {
  content: "\e90c";
}
.a-apple:before {
  content: "\e90d";
}
.a-argument:before {
  content: "\e90e";
}
.a-arrow-arrived:before {
  content: "\e90f";
}
.a-arrow-circle-2:before {
  content: "\e910";
}
.a-arrow-circle-3:before {
  content: "\e911";
}
.a-arrow-circle-4:before {
  content: "\e912";
}
.a-arrow-circle-5:before {
  content: "\e913";
}
.a-arrow-circle:before {
  content: "\e914";
}
.a-arrow-converge:before {
  content: "\e915";
}
.a-arrow-corner:before {
  content: "\e916";
}
.a-arrow-crossed:before {
  content: "\e917";
}
.a-arrow-diagonal-both:before {
  content: "\e918";
}
.a-arrow-diagonal-down:before {
  content: "\e919";
}
.a-arrow-diagonal-up:before {
  content: "\e91a";
}
.a-arrow-double-left:before {
  content: "\e91b";
}
.a-arrow-down-left:before {
  content: "\e91c";
}
.a-arrow-down-right-2:before {
  content: "\e91d";
}
.a-arrow-down-right:before {
  content: "\e91e";
}
.a-arrow-four-directions-2:before {
  content: "\e91f";
}
.a-arrow-four-directions:before {
  content: "\e920";
}
.a-arrow-h:before {
  content: "\e921";
}
.a-arrow-lanes:before {
  content: "\e922";
}
.a-arrow-left-2:before {
  content: "\e923";
}
.a-arrow-left-3:before {
  content: "\e924";
}
.a-arrow-left-4:before {
  content: "\e925";
}
.a-arrow-left-5:before {
  content: "\e926";
}
.a-arrow-left-right-2:before {
  content: "\e927";
}
.a-arrow-left-right-3:before {
  content: "\e928";
}
.a-arrow-left-right-4:before {
  content: "\e929";
}
.a-arrow-left-right-5:before {
  content: "\e92a";
}
.a-arrow-left-right-6:before {
  content: "\e92b";
}
.a-arrow-left-right:before {
  content: "\e92c";
}
.a-arrow-left:before {
  content: "\e92d";
}
.a-arrow-merge-2:before {
  content: "\e92e";
}
.a-arrow-merge:before {
  content: "\e92f";
}
.a-arrow-right_1:before {
  content: "\e930";
}
.a-arrow-right-2_1:before {
  content: "\e931";
}
.a-arrow-right-2:before {
  content: "\e932";
}
.a-arrow-right-3:before {
  content: "\e933";
}
.a-arrow-right-4:before {
  content: "\e934";
}
.a-arrow-right-5:before {
  content: "\e935";
}
.a-arrow-right-6:before {
  content: "\e936";
}
.a-arrow-right-7:before {
  content: "\e937";
}
.a-arrow-right:before {
  content: "\e938";
}
.a-arrow-round-down:before {
  content: "\e939";
}
.a-arrow-round-left:before {
  content: "\e93a";
}
.a-arrow-round-right:before {
  content: "\e93b";
}
.a-arrow-round-top:before {
  content: "\e93c";
}
.a-arrow-small-down:before {
  content: "\e93d";
}
.a-arrow-small-up:before {
  content: "\e93e";
}
.a-arrow-split-2:before {
  content: "\e93f";
}
.a-arrow-split-3:before {
  content: "\e940";
}
.a-arrow-split-4:before {
  content: "\e941";
}
.a-arrow-split-5:before {
  content: "\e942";
}
.a-arrow-split:before {
  content: "\e943";
}
.a-arrow-t:before {
  content: "\e944";
}
.a-arrow-target:before {
  content: "\e945";
}
.a-arrow-three-directions:before {
  content: "\e946";
}
.a-arrow-top-2:before {
  content: "\e947";
}
.a-arrow-top-3:before {
  content: "\e948";
}
.a-arrow-top-right:before {
  content: "\e949";
}
.a-arrow-top:before {
  content: "\e94a";
}
.a-arrow-turn-right:before {
  content: "\e94b";
}
.a-arrow-up-down:before {
  content: "\e94c";
}
.a-arrow-up-right:before {
  content: "\e94d";
}
.a-arrow:before {
  content: "\e94e";
}
.a-arrows-circle:before {
  content: "\e94f";
}
.a-arrows-diagonal:before {
  content: "\e950";
}
.a-arrows-double-2:before {
  content: "\e951";
}
.a-arrows-double-3:before {
  content: "\e952";
}
.a-arrows-double-4:before {
  content: "\e953";
}
.a-arrows-double-5:before {
  content: "\e954";
}
.a-arrows-double-updown:before {
  content: "\e955";
}
.a-arrows-double:before {
  content: "\e956";
}
.a-arrows-three:before {
  content: "\e957";
}
.a-at-sign-2:before {
  content: "\e958";
}
.a-at-sign:before {
  content: "\e959";
}
.a-atm-2:before {
  content: "\e95a";
}
.a-atm-3:before {
  content: "\e95b";
}
.a-atm:before {
  content: "\e95c";
}
.a-avatar-approve:before {
  content: "\e95d";
}
.a-avatar-chart-pie:before {
  content: "\e95e";
}
.a-avatar-chat-up:before {
  content: "\e95f";
}
.a-avatar-clock:before {
  content: "\e960";
}
.a-avatar-credit-card:before {
  content: "\e961";
}
.a-avatar-dollar:before {
  content: "\e962";
}
.a-avatar-down:before {
  content: "\e963";
}
.a-avatar-exclamation:before {
  content: "\e964";
}
.a-avatar-fail:before {
  content: "\e965";
}
.a-avatar-gear:before {
  content: "\e966";
}
.a-avatar-heart:before {
  content: "\e967";
}
.a-avatar-home:before {
  content: "\e968";
}
.a-avatar-image:before {
  content: "\e969";
}
.a-avatar-info:before {
  content: "\e96a";
}
.a-avatar-key:before {
  content: "\e96b";
}
.a-avatar-location:before {
  content: "\e96c";
}
.a-avatar-locked:before {
  content: "\e96d";
}
.a-avatar-mail:before {
  content: "\e96e";
}
.a-avatar-minus:before {
  content: "\e96f";
}
.a-avatar-not:before {
  content: "\e970";
}
.a-avatar-pencil:before {
  content: "\e971";
}
.a-avatar-play:before {
  content: "\e972";
}
.a-avatar-plus_1:before {
  content: "\e973";
}
.a-avatar-plus:before {
  content: "\e974";
}
.a-avatar-question:before {
  content: "\e975";
}
.a-avatar-refresh:before {
  content: "\e976";
}
.a-avatar-reload:before {
  content: "\e977";
}
.a-avatar-search:before {
  content: "\e978";
}
.a-avatar-shield:before {
  content: "\e979";
}
.a-avatar-stack:before {
  content: "\e97a";
}
.a-avatar-star:before {
  content: "\e97b";
}
.a-avatar-up:before {
  content: "\e97c";
}
.a-avatar:before {
  content: "\e97d";
}
.a-axis:before {
  content: "\e97e";
}
.a-badge:before {
  content: "\e97f";
}
.a-bandage:before {
  content: "\e980";
}
.a-bank:before {
  content: "\e981";
}
.a-barchart-2:before {
  content: "\e982";
}
.a-barchart:before {
  content: "\e983";
}
.a-baseball:before {
  content: "\e984";
}
.a-basketball:before {
  content: "\e985";
}
.a-battery-charging:before {
  content: "\e986";
}
.a-battery-empty:before {
  content: "\e987";
}
.a-beer:before {
  content: "\e988";
}
.a-bell-2:before {
  content: "\e989";
}
.a-bell-3:before {
  content: "\e98a";
}
.a-bell-checked:before {
  content: "\e98b";
}
.a-bell-not:before {
  content: "\e98c";
}
.a-bell-plus:before {
  content: "\e98d";
}
.a-bell-ring-2:before {
  content: "\e98e";
}
.a-bell-ring:before {
  content: "\e98f";
}
.a-bell-snooze:before {
  content: "\e990";
}
.a-bell:before {
  content: "\e991";
}
.a-bicycle:before {
  content: "\e992";
}
.a-bird:before {
  content: "\e993";
}
.a-books:before {
  content: "\e994";
}
.a-bottle:before {
  content: "\e995";
}
.a-bowlingball:before {
  content: "\e996";
}
.a-bowlingpins:before {
  content: "\e997";
}
.a-building:before {
  content: "\e998";
}
.a-bus:before {
  content: "\e999";
}
.a-calculator-2:before {
  content: "\e99a";
}
.a-calculator-3:before {
  content: "\e99b";
}
.a-calculator:before {
  content: "\e99c";
}
.a-calendar-2_1:before {
  content: "\e99d";
}
.a-calendar-2:before {
  content: "\e99e";
}
.a-calendar-3_1:before {
  content: "\e99f";
}
.a-calendar-3:before {
  content: "\e9a0";
}
.a-calendar-4:before {
  content: "\e9a1";
}
.a-calendar-5:before {
  content: "\e9a2";
}
.a-calendar-6:before {
  content: "\e9a3";
}
.a-calendar-7:before {
  content: "\e9a4";
}
.a-calendar-8:before {
  content: "\e9a5";
}
.a-calendar-9:before {
  content: "\e9a6";
}
.a-calendar-attention:before {
  content: "\e9a7";
}
.a-calendar-chart:before {
  content: "\e9a8";
}
.a-calendar-checked-2:before {
  content: "\e9a9";
}
.a-calendar-checked-3:before {
  content: "\e9aa";
}
.a-calendar-checked:before {
  content: "\e9ab";
}
.a-calendar-clock:before {
  content: "\e9ac";
}
.a-calendar-dollar-2:before {
  content: "\e9ad";
}
.a-calendar-dollar:before {
  content: "\e9ae";
}
.a-calendar-down_1:before {
  content: "\e9af";
}
.a-calendar-down:before {
  content: "\e9b0";
}
.a-calendar-edit:before {
  content: "\e9b1";
}
.a-calendar-gear:before {
  content: "\e9b2";
}
.a-calendar-grid:before {
  content: "\e9b3";
}
.a-calendar-heart:before {
  content: "\e9b4";
}
.a-calendar-home:before {
  content: "\e9b5";
}
.a-calendar-info:before {
  content: "\e9b6";
}
.a-calendar-locked:before {
  content: "\e9b7";
}
.a-calendar-minus:before {
  content: "\e9b8";
}
.a-calendar-not-2:before {
  content: "\e9b9";
}
.a-calendar-not-3:before {
  content: "\e9ba";
}
.a-calendar-not:before {
  content: "\e9bb";
}
.a-calendar-pages:before {
  content: "\e9bc";
}
.a-calendar-pencil:before {
  content: "\e9bd";
}
.a-calendar-person:before {
  content: "\e9be";
}
.a-calendar-plus:before {
  content: "\e9bf";
}
.a-calendar-question:before {
  content: "\e9c0";
}
.a-calendar-refresh:before {
  content: "\e9c1";
}
.a-calendar-reload:before {
  content: "\e9c2";
}
.a-calendar-search:before {
  content: "\e9c3";
}
.a-calendar-shield:before {
  content: "\e9c4";
}
.a-calendar-sideways:before {
  content: "\e9c5";
}
.a-calendar-star:before {
  content: "\e9c6";
}
.a-calendar-text-edit:before {
  content: "\e9c7";
}
.a-calendar-tool:before {
  content: "\e9c8";
}
.a-calendar-up:before {
  content: "\e9c9";
}
.a-calendar:before {
  content: "\e9ca";
}
.a-camera-2:before {
  content: "\e9cb";
}
.a-camera:before {
  content: "\e9cc";
}
.a-cash-pile-2:before {
  content: "\e9cd";
}
.a-cash-pile:before {
  content: "\e9ce";
}
.a-cellphone:before {
  content: "\e9cf";
}
.a-chart-arrow-down:before {
  content: "\e9d0";
}
.a-chart-arrow-up_1:before {
  content: "\e9d1";
}
.a-chart-arrow-up-2:before {
  content: "\e9d2";
}
.a-chart-arrow-up:before {
  content: "\e9d3";
}
.a-chart-arrows:before {
  content: "\e9d4";
}
.a-chart-bar-arrow-up:before {
  content: "\e9d5";
}
.a-chart-bar-down-2:before {
  content: "\e9d6";
}
.a-chart-bar-h:before {
  content: "\e9d7";
}
.a-chart-bar-up-2:before {
  content: "\e9d8";
}
.a-chart-bar-v-box:before {
  content: "\e9d9";
}
.a-chart-bar-v:before {
  content: "\e9da";
}
.a-chart-bars-minus:before {
  content: "\e9db";
}
.a-chart-bars-plus:before {
  content: "\e9dc";
}
.a-chart-bars:before {
  content: "\e9dd";
}
.a-chart-clock:before {
  content: "\e9de";
}
.a-chart-growth:before {
  content: "\e9df";
}
.a-chart-lines:before {
  content: "\e9e0";
}
.a-chart-pie-2:before {
  content: "\e9e1";
}
.a-chart-pie:before {
  content: "\e9e2";
}
.a-chart-wheel:before {
  content: "\e9e3";
}
.a-chat:before {
  content: "\e9e4";
}
.a-check:before {
  content: "\e9e5";
}
.a-checkbook:before {
  content: "\e9e6";
}
.a-checkbox-checked:before {
  content: "\e9e7";
}
.a-checkbox-minus:before {
  content: "\e9e8";
}
.a-checkbox-more:before {
  content: "\e9e9";
}
.a-checkbox-plus:before {
  content: "\e9ea";
}
.a-checkbox:before {
  content: "\e9eb";
}
.a-checklist-2:before {
  content: "\e9ec";
}
.a-checklist:before {
  content: "\e9ed";
}
.a-chess-knight:before {
  content: "\e9ee";
}
.a-chess-tower:before {
  content: "\e9ef";
}
.a-chip:before {
  content: "\e9f0";
}
.a-circle-arrow-left:before {
  content: "\e9f1";
}
.a-circle-arrow-right:before {
  content: "\e9f2";
}
.a-circle-checked:before {
  content: "\e9f3";
}
.a-circle-cross:before {
  content: "\e9f4";
}
.a-circle-dot:before {
  content: "\e9f5";
}
.a-circle-double-arrows:before {
  content: "\e9f6";
}
.a-circle-down:before {
  content: "\e9f7";
}
.a-circle-ellipsis:before {
  content: "\e9f8";
}
.a-circle-envelope:before {
  content: "\e9f9";
}
.a-circle-from-bottom:before {
  content: "\e9fa";
}
.a-circle-from-top:before {
  content: "\e9fb";
}
.a-circle-gear:before {
  content: "\e9fc";
}
.a-circle-keyhole-2:before {
  content: "\e9fd";
}
.a-circle-keyhole:before {
  content: "\e9fe";
}
.a-circle-left-2:before {
  content: "\e9ff";
}
.a-circle-left:before {
  content: "\ea00";
}
.a-circle-minus:before {
  content: "\ea01";
}
.a-circle-plus:before {
  content: "\ea02";
}
.a-circle-right-2:before {
  content: "\ea03";
}
.a-circle-right:before {
  content: "\ea04";
}
.a-circle-star:before {
  content: "\ea05";
}
.a-circle-up:before {
  content: "\ea06";
}
.a-circle:before {
  content: "\ea07";
}
.a-clipboard-person:before {
  content: "\ea08";
}
.a-clipboard-plan:before {
  content: "\ea09";
}
.a-clipboard:before {
  content: "\ea0a";
}
.a-clock-2:before {
  content: "\ea0b";
}
.a-clock-3:before {
  content: "\ea0c";
}
.a-clock-4:before {
  content: "\ea0d";
}
.a-clock-5:before {
  content: "\ea0e";
}
.a-clock-arrow-down:before {
  content: "\ea0f";
}
.a-clock-arrow-right:before {
  content: "\ea10";
}
.a-clock-arrow-up:before {
  content: "\ea11";
}
.a-clock-attention:before {
  content: "\ea12";
}
.a-clock-check:before {
  content: "\ea13";
}
.a-clock-checked:before {
  content: "\ea14";
}
.a-clock-gear:before {
  content: "\ea15";
}
.a-clock-minus:before {
  content: "\ea16";
}
.a-clock-music:before {
  content: "\ea17";
}
.a-clock-not:before {
  content: "\ea18";
}
.a-clock-pencil:before {
  content: "\ea19";
}
.a-clock-plus:before {
  content: "\ea1a";
}
.a-clock-question:before {
  content: "\ea1b";
}
.a-clock-refresh:before {
  content: "\ea1c";
}
.a-clock-rotate-both:before {
  content: "\ea1d";
}
.a-clock-rotate-left:before {
  content: "\ea1e";
}
.a-clock-rotate-right:before {
  content: "\ea1f";
}
.a-clock-search:before {
  content: "\ea20";
}
.a-clock-square:before {
  content: "\ea21";
}
.a-clock:before {
  content: "\ea22";
}
.a-closer:before {
  content: "\ea23";
}
.a-cloud-wifi:before {
  content: "\ea24";
}
.a-cloud:before {
  content: "\ea25";
}
.a-clouds:before {
  content: "\ea26";
}
.a-cloudy-night:before {
  content: "\ea27";
}
.a-cocktail:before {
  content: "\ea28";
}
.a-coffee-machine:before {
  content: "\ea29";
}
.a-coin-hand:before {
  content: "\ea2a";
}
.a-coins:before {
  content: "\ea2b";
}
.a-come-back:before {
  content: "\ea2c";
}
.a-comment-chart-up:before {
  content: "\ea2d";
}
.a-comment-checked:before {
  content: "\ea2e";
}
.a-comment-dollar:before {
  content: "\ea2f";
}
.a-comment-ellipsis:before {
  content: "\ea30";
}
.a-comment-gear:before {
  content: "\ea31";
}
.a-comment-heart:before {
  content: "\ea32";
}
.a-comment-home:before {
  content: "\ea33";
}
.a-comment-minus:before {
  content: "\ea34";
}
.a-comment-multiply:before {
  content: "\ea35";
}
.a-comment-pencil:before {
  content: "\ea36";
}
.a-comment-picture:before {
  content: "\ea37";
}
.a-comment-play:before {
  content: "\ea38";
}
.a-comment-plus:before {
  content: "\ea39";
}
.a-comment-smile:before {
  content: "\ea3a";
}
.a-comment-star:before {
  content: "\ea3b";
}
.a-comment-text:before {
  content: "\ea3c";
}
.a-comment:before {
  content: "\ea3d";
}
.a-compass-2:before {
  content: "\ea3e";
}
.a-compass:before {
  content: "\ea3f";
}
.a-cone-2:before {
  content: "\ea40";
}
.a-cone:before {
  content: "\ea41";
}
.a-construction-fence:before {
  content: "\ea42";
}
.a-contract:before {
  content: "\ea43";
}
.a-controller:before {
  content: "\ea44";
}
.a-crane:before {
  content: "\ea45";
}
.a-credit-card-approve:before {
  content: "\ea46";
}
.a-credit-card-back:before {
  content: "\ea47";
}
.a-credit-card-fail:before {
  content: "\ea48";
}
.a-credit-card-minus:before {
  content: "\ea49";
}
.a-credit-card-plus:before {
  content: "\ea4a";
}
.a-credit-card-shield:before {
  content: "\ea4b";
}
.a-credit-cards:before {
  content: "\ea4c";
}
.a-creditcards:before {
  content: "\ea4d";
}
.a-cross-circle:before {
  content: "\ea4e";
}
.a-cross:before {
  content: "\ea4f";
}
.a-currency-dollar:before {
  content: "\ea50";
}
.a-currency-euro:before {
  content: "\ea51";
}
.a-currency-exchange-2:before {
  content: "\ea52";
}
.a-currency-exchange:before {
  content: "\ea53";
}
.a-currency-pound:before {
  content: "\ea54";
}
.a-currency-rouble:before {
  content: "\ea55";
}
.a-currency-yen:before {
  content: "\ea56";
}
.a-degree-c:before {
  content: "\ea57";
}
.a-degree-f:before {
  content: "\ea58";
}
.a-dentist-tools:before {
  content: "\ea59";
}
.a-departure:before {
  content: "\ea5a";
}
.a-desktop-chart:before {
  content: "\ea5b";
}
.a-desktop-locked:before {
  content: "\ea5c";
}
.a-desktop-mobile-check:before {
  content: "\ea5d";
}
.a-desktop-search:before {
  content: "\ea5e";
}
.a-desktop:before {
  content: "\ea5f";
}
.a-destination:before {
  content: "\ea60";
}
.a-diagonal-exit:before {
  content: "\ea61";
}
.a-dial-2:before {
  content: "\ea62";
}
.a-dial-3:before {
  content: "\ea63";
}
.a-dial:before {
  content: "\ea64";
}
.a-diploma-2:before {
  content: "\ea65";
}
.a-diploma:before {
  content: "\ea66";
}
.a-direction-circle:before {
  content: "\ea67";
}
.a-direction:before {
  content: "\ea68";
}
.a-discussion-2:before {
  content: "\ea69";
}
.a-discussion:before {
  content: "\ea6a";
}
.a-disk:before {
  content: "\ea6b";
}
.a-dna:before {
  content: "\ea6c";
}
.a-doctor:before {
  content: "\ea6d";
}
.a-dollar-hand:before {
  content: "\ea6e";
}
.a-dollar-hands:before {
  content: "\ea6f";
}
.a-dollar-rotation-2:before {
  content: "\ea70";
}
.a-dollar-rotation:before {
  content: "\ea71";
}
.a-dollar-stopwatch:before {
  content: "\ea72";
}
.a-dollar-zoom-in:before {
  content: "\ea73";
}
.a-dollar-zoom-out:before {
  content: "\ea74";
}
.a-down-arrow-circle:before {
  content: "\ea75";
}
.a-download-2:before {
  content: "\ea76";
}
.a-download:before {
  content: "\ea77";
}
.a-drawers-updown:before {
  content: "\ea78";
}
.a-dumbbell:before {
  content: "\ea79";
}
.a-earth-2:before {
  content: "\ea7a";
}
.a-earth:before {
  content: "\ea7b";
}
.a-edit:before {
  content: "\ea7c";
}
.a-electric-bus-2:before {
  content: "\ea7d";
}
.a-electric-bus:before {
  content: "\ea7e";
}
.a-electric-car:before {
  content: "\ea7f";
}
.a-electrical-warning:before {
  content: "\ea80";
}
.a-ellipsis:before {
  content: "\ea81";
}
.a-envelope-2:before {
  content: "\ea82";
}
.a-envelope-3:before {
  content: "\ea83";
}
.a-envelope-4:before {
  content: "\ea84";
}
.a-envelope-attention_1:before {
  content: "\ea85";
}
.a-envelope-attention:before {
  content: "\ea86";
}
.a-envelope-chart_1:before {
  content: "\ea87";
}
.a-envelope-chart:before {
  content: "\ea88";
}
.a-envelope-checked_1:before {
  content: "\ea89";
}
.a-envelope-checked:before {
  content: "\ea8a";
}
.a-envelope-clock_1:before {
  content: "\ea8b";
}
.a-envelope-clock:before {
  content: "\ea8c";
}
.a-envelope-dollar_1:before {
  content: "\ea8d";
}
.a-envelope-dollar:before {
  content: "\ea8e";
}
.a-envelope-down:before {
  content: "\ea8f";
}
.a-envelope-forward:before {
  content: "\ea90";
}
.a-envelope-gear:before {
  content: "\ea91";
}
.a-envelope-heart-2:before {
  content: "\ea92";
}
.a-envelope-heart:before {
  content: "\ea93";
}
.a-envelope-home:before {
  content: "\ea94";
}
.a-envelope-incoming-2:before {
  content: "\ea95";
}
.a-envelope-incoming:before {
  content: "\ea96";
}
.a-envelope-info:before {
  content: "\ea97";
}
.a-envelope-locked:before {
  content: "\ea98";
}
.a-envelope-minus:before {
  content: "\ea99";
}
.a-envelope-music:before {
  content: "\ea9a";
}
.a-envelope-not_1:before {
  content: "\ea9b";
}
.a-envelope-not:before {
  content: "\ea9c";
}
.a-envelope-open_1:before {
  content: "\ea9d";
}
.a-envelope-open:before {
  content: "\ea9e";
}
.a-envelope-outgoing-2:before {
  content: "\ea9f";
}
.a-envelope-outgoing:before {
  content: "\eaa0";
}
.a-envelope-paperclip:before {
  content: "\eaa1";
}
.a-envelope-pencil:before {
  content: "\eaa2";
}
.a-envelope-picture-2:before {
  content: "\eaa3";
}
.a-envelope-picture:before {
  content: "\eaa4";
}
.a-envelope-play-2:before {
  content: "\eaa5";
}
.a-envelope-play:before {
  content: "\eaa6";
}
.a-envelope-plus:before {
  content: "\eaa7";
}
.a-envelope-question_1:before {
  content: "\eaa8";
}
.a-envelope-question:before {
  content: "\eaa9";
}
.a-envelope-reload-2:before {
  content: "\eaaa";
}
.a-envelope-reload:before {
  content: "\eaab";
}
.a-envelope-rotate:before {
  content: "\eaac";
}
.a-envelope-search:before {
  content: "\eaad";
}
.a-envelope-shield:before {
  content: "\eaae";
}
.a-envelope-star:before {
  content: "\eaaf";
}
.a-envelope-text:before {
  content: "\eab0";
}
.a-envelope-up:before {
  content: "\eab1";
}
.a-envelope:before {
  content: "\eab2";
}
.a-excavator:before {
  content: "\eab3";
}
.a-exchange-rate-down:before {
  content: "\eab4";
}
.a-exchange-rate-up:before {
  content: "\eab5";
}
.a-exchange:before {
  content: "\eab6";
}
.a-eye-2:before {
  content: "\eab7";
}
.a-eye-3:before {
  content: "\eab8";
}
.a-eye-clock:before {
  content: "\eab9";
}
.a-eye-money:before {
  content: "\eaba";
}
.a-eye-not:before {
  content: "\eabb";
}
.a-eye-play:before {
  content: "\eabc";
}
.a-eye:before {
  content: "\eabd";
}
.a-eyedropper-minus:before {
  content: "\eabe";
}
.a-eyedropper-plus:before {
  content: "\eabf";
}
.a-faces-checked:before {
  content: "\eac0";
}
.a-faces-left:before {
  content: "\eac1";
}
.a-factory-leaf:before {
  content: "\eac2";
}
.a-factory:before {
  content: "\eac3";
}
.a-fast:before {
  content: "\eac4";
}
.a-fax-2:before {
  content: "\eac5";
}
.a-fax:before {
  content: "\eac6";
}
.a-female:before {
  content: "\eac7";
}
.a-fence:before {
  content: "\eac8";
}
.a-file-approve:before {
  content: "\eac9";
}
.a-file-certified:before {
  content: "\eaca";
}
.a-file-chart-2:before {
  content: "\eacb";
}
.a-file-chart-3:before {
  content: "\eacc";
}
.a-file-chart-pie:before {
  content: "\eacd";
}
.a-file-chart:before {
  content: "\eace";
}
.a-file-clock:before {
  content: "\eacf";
}
.a-file-copy-2:before {
  content: "\ead0";
}
.a-file-copy:before {
  content: "\ead1";
}
.a-file-dollar_1:before {
  content: "\ead2";
}
.a-file-dollar:before {
  content: "\ead3";
}
.a-file-down:before {
  content: "\ead4";
}
.a-file-fail:before {
  content: "\ead5";
}
.a-file-gear_1:before {
  content: "\ead6";
}
.a-file-gear:before {
  content: "\ead7";
}
.a-file-globe-2:before {
  content: "\ead8";
}
.a-file-globe:before {
  content: "\ead9";
}
.a-file-hierarchy-2:before {
  content: "\eada";
}
.a-file-hierarchy:before {
  content: "\eadb";
}
.a-file-holder:before {
  content: "\eadc";
}
.a-file-home:before {
  content: "\eadd";
}
.a-file-info:before {
  content: "\eade";
}
.a-file-landscape:before {
  content: "\eadf";
}
.a-file-left:before {
  content: "\eae0";
}
.a-file-locked:before {
  content: "\eae1";
}
.a-file-mail:before {
  content: "\eae2";
}
.a-file-marker:before {
  content: "\eae3";
}
.a-file-minus:before {
  content: "\eae4";
}
.a-file-pen:before {
  content: "\eae5";
}
.a-file-pencil_1:before {
  content: "\eae6";
}
.a-file-pencil-2:before {
  content: "\eae7";
}
.a-file-pencil:before {
  content: "\eae8";
}
.a-file-person:before {
  content: "\eae9";
}
.a-file-plus:before {
  content: "\eaea";
}
.a-file-question:before {
  content: "\eaeb";
}
.a-file-repeat:before {
  content: "\eaec";
}
.a-file-right:before {
  content: "\eaed";
}
.a-file-search:before {
  content: "\eaee";
}
.a-file-shield:before {
  content: "\eaef";
}
.a-file-text:before {
  content: "\eaf0";
}
.a-file-to-landscape:before {
  content: "\eaf1";
}
.a-file-tool:before {
  content: "\eaf2";
}
.a-file-up:before {
  content: "\eaf3";
}
.a-file:before {
  content: "\eaf4";
}
.a-files-2:before {
  content: "\eaf5";
}
.a-files-dual:before {
  content: "\eaf6";
}
.a-files-layout:before {
  content: "\eaf7";
}
.a-files:before {
  content: "\eaf8";
}
.a-fish:before {
  content: "\eaf9";
}
.a-flag-2:before {
  content: "\eafa";
}
.a-flag-3:before {
  content: "\eafb";
}
.a-flag-4:before {
  content: "\eafc";
}
.a-flag-5:before {
  content: "\eafd";
}
.a-flag-6:before {
  content: "\eafe";
}
.a-flag-finish:before {
  content: "\eaff";
}
.a-flag:before {
  content: "\eb00";
}
.a-flags:before {
  content: "\eb01";
}
.a-floorplan:before {
  content: "\eb02";
}
.a-floppy:before {
  content: "\eb03";
}
.a-flowchart-2:before {
  content: "\eb04";
}
.a-flowchart-3:before {
  content: "\eb05";
}
.a-flowchart:before {
  content: "\eb06";
}
.a-fog:before {
  content: "\eb07";
}
.a-folder-box:before {
  content: "\eb08";
}
.a-folder-dollar:before {
  content: "\eb09";
}
.a-folder-open:before {
  content: "\eb0a";
}
.a-folder:before {
  content: "\eb0b";
}
.a-folders:before {
  content: "\eb0c";
}
.a-football:before {
  content: "\eb0d";
}
.a-frame-arrow-out:before {
  content: "\eb0e";
}
.a-frame-arrow:before {
  content: "\eb0f";
}
.a-frame-from-left-2:before {
  content: "\eb10";
}
.a-frame-from-left:before {
  content: "\eb11";
}
.a-frame-from-right:before {
  content: "\eb12";
}
.a-frame-join:before {
  content: "\eb13";
}
.a-frame-left-right:before {
  content: "\eb14";
}
.a-frame-recycle-2:before {
  content: "\eb15";
}
.a-frame-recycle:before {
  content: "\eb16";
}
.a-frame-to-right:before {
  content: "\eb17";
}
.a-framing:before {
  content: "\eb18";
}
.a-fridge:before {
  content: "\eb19";
}
.a-gavel-2:before {
  content: "\eb1a";
}
.a-gavel:before {
  content: "\eb1b";
}
.a-gear-2:before {
  content: "\eb1c";
}
.a-gear-3:before {
  content: "\eb1d";
}
.a-gear-checked:before {
  content: "\eb1e";
}
.a-gear-comment:before {
  content: "\eb1f";
}
.a-gear-money-2:before {
  content: "\eb20";
}
.a-gear-money:before {
  content: "\eb21";
}
.a-gear-play:before {
  content: "\eb22";
}
.a-gear-rotate:before {
  content: "\eb23";
}
.a-gear-search:before {
  content: "\eb24";
}
.a-gear:before {
  content: "\eb25";
}
.a-gears:before {
  content: "\eb26";
}
.a-globe-2_1:before {
  content: "\eb27";
}
.a-globe-2:before {
  content: "\eb28";
}
.a-globe-3:before {
  content: "\eb29";
}
.a-globe-4:before {
  content: "\eb2a";
}
.a-globe-connection:before {
  content: "\eb2b";
}
.a-globe-dollar:before {
  content: "\eb2c";
}
.a-globe-gear:before {
  content: "\eb2d";
}
.a-globe-head:before {
  content: "\eb2e";
}
.a-globe-suitcase:before {
  content: "\eb2f";
}
.a-globe:before {
  content: "\eb30";
}
.a-graduation-hat:before {
  content: "\eb31";
}
.a-grid-2:before {
  content: "\eb32";
}
.a-grid:before {
  content: "\eb33";
}
.a-hammer:before {
  content: "\eb34";
}
.a-hand-heart:before {
  content: "\eb35";
}
.a-handshake:before {
  content: "\eb36";
}
.a-hatchet:before {
  content: "\eb37";
}
.a-head-arrow-circle:before {
  content: "\eb38";
}
.a-head-arrow-up:before {
  content: "\eb39";
}
.a-head-clock:before {
  content: "\eb3a";
}
.a-head-dollar:before {
  content: "\eb3b";
}
.a-head-gear-2:before {
  content: "\eb3c";
}
.a-head-gear:before {
  content: "\eb3d";
}
.a-head-horse:before {
  content: "\eb3e";
}
.a-head-key:before {
  content: "\eb3f";
}
.a-head-lightning:before {
  content: "\eb40";
}
.a-headset-2:before {
  content: "\eb41";
}
.a-headset-mic-2:before {
  content: "\eb42";
}
.a-headset-mic:before {
  content: "\eb43";
}
.a-headset:before {
  content: "\eb44";
}
.a-heart:before {
  content: "\eb45";
}
.a-heartrate:before {
  content: "\eb46";
}
.a-helmet:before {
  content: "\eb47";
}
.a-hexagon-arrow-up:before {
  content: "\eb48";
}
.a-hierarchical:before {
  content: "\eb49";
}
.a-higher:before {
  content: "\eb4a";
}
.a-home-2:before {
  content: "\eb4b";
}
.a-home-dollar:before {
  content: "\eb4c";
}
.a-home-leaf:before {
  content: "\eb4d";
}
.a-home-marker:before {
  content: "\eb4e";
}
.a-home-price-up:before {
  content: "\eb4f";
}
.a-home-question:before {
  content: "\eb50";
}
.a-home:before {
  content: "\eb51";
}
.a-horizontal-expand:before {
  content: "\eb52";
}
.a-hotairballoon:before {
  content: "\eb53";
}
.a-hourglass-dollar:before {
  content: "\eb54";
}
.a-hourglass-empty-2:before {
  content: "\eb55";
}
.a-hourglass-empty:before {
  content: "\eb56";
}
.a-hourglass-frame:before {
  content: "\eb57";
}
.a-hourglass-full-2:before {
  content: "\eb58";
}
.a-hourglass-full:before {
  content: "\eb59";
}
.a-hourglass-rotate-2:before {
  content: "\eb5a";
}
.a-hourglass-rotate-3:before {
  content: "\eb5b";
}
.a-hourglass-rotate:before {
  content: "\eb5c";
}
.a-hourglass-round:before {
  content: "\eb5d";
}
.a-hourglass-roung-full:before {
  content: "\eb5e";
}
.a-hourglass:before {
  content: "\eb5f";
}
.a-hurdle:before {
  content: "\eb60";
}
.a-inbox:before {
  content: "\eb61";
}
.a-info-circle:before {
  content: "\eb62";
}
.a-info:before {
  content: "\eb63";
}
.a-institution:before {
  content: "\eb64";
}
.a-ipod:before {
  content: "\eb65";
}
.a-iv:before {
  content: "\eb66";
}
.a-journal:before {
  content: "\eb67";
}
.a-jump-over:before {
  content: "\eb68";
}
.a-justice:before {
  content: "\eb69";
}
.a-key-2:before {
  content: "\eb6a";
}
.a-key-3:before {
  content: "\eb6b";
}
.a-key-4:before {
  content: "\eb6c";
}
.a-key-avatar:before {
  content: "\eb6d";
}
.a-key-checked:before {
  content: "\eb6e";
}
.a-key-dollar:before {
  content: "\eb6f";
}
.a-key-minus:before {
  content: "\eb70";
}
.a-key-not:before {
  content: "\eb71";
}
.a-key-plus:before {
  content: "\eb72";
}
.a-key:before {
  content: "\eb73";
}
.a-keyboard:before {
  content: "\eb74";
}
.a-keyhole:before {
  content: "\eb75";
}
.a-lamp:before {
  content: "\eb76";
}
.a-laptop-chart:before {
  content: "\eb77";
}
.a-laptop-mail:before {
  content: "\eb78";
}
.a-laptop-video:before {
  content: "\eb79";
}
.a-laptop:before {
  content: "\eb7a";
}
.a-layout-picture:before {
  content: "\eb7b";
}
.a-layout-text:before {
  content: "\eb7c";
}
.a-leaf:before {
  content: "\eb7d";
}
.a-led:before {
  content: "\eb7e";
}
.a-lightbulb-2:before {
  content: "\eb7f";
}
.a-lightbulb-3:before {
  content: "\eb80";
}
.a-lightbulb-4:before {
  content: "\eb81";
}
.a-lightbulb-money:before {
  content: "\eb82";
}
.a-lightbulb:before {
  content: "\eb83";
}
.a-lightning:before {
  content: "\eb84";
}
.a-link-2:before {
  content: "\eb85";
}
.a-link-3:before {
  content: "\eb86";
}
.a-link-broken:before {
  content: "\eb87";
}
.a-link-plus:before {
  content: "\eb88";
}
.a-link:before {
  content: "\eb89";
}
.a-list:before {
  content: "\eb8a";
}
.a-listboard:before {
  content: "\eb8b";
}
.a-location-flag:before {
  content: "\eb8c";
}
.a-location-marker:before {
  content: "\eb8d";
}
.a-location-pin:before {
  content: "\eb8e";
}
.a-lock-key:before {
  content: "\eb8f";
}
.a-locked-2:before {
  content: "\eb90";
}
.a-locked-digits:before {
  content: "\eb91";
}
.a-locked-focus:before {
  content: "\eb92";
}
.a-locked:before {
  content: "\eb93";
}
.a-lower:before {
  content: "\eb94";
}
.a-luggage:before {
  content: "\eb95";
}
.a-magnify-2:before {
  content: "\eb96";
}
.a-magnify-chart-up:before {
  content: "\eb97";
}
.a-magnify-jobs:before {
  content: "\eb98";
}
.a-magnify-minus:before {
  content: "\eb99";
}
.a-magnify-plus:before {
  content: "\eb9a";
}
.a-magnify:before {
  content: "\eb9b";
}
.a-mail-chart-up:before {
  content: "\eb9c";
}
.a-mail-out:before {
  content: "\eb9d";
}
.a-mail-rotate-both:before {
  content: "\eb9e";
}
.a-mail-send:before {
  content: "\eb9f";
}
.a-mailbox:before {
  content: "\eba0";
}
.a-mailed:before {
  content: "\eba1";
}
.a-male:before {
  content: "\eba2";
}
.a-man-2:before {
  content: "\eba3";
}
.a-man-3:before {
  content: "\eba4";
}
.a-man-4:before {
  content: "\eba5";
}
.a-man:before {
  content: "\eba6";
}
.a-map-2:before {
  content: "\eba7";
}
.a-map-marker-2:before {
  content: "\eba8";
}
.a-map-marker:before {
  content: "\eba9";
}
.a-map-search:before {
  content: "\ebaa";
}
.a-map:before {
  content: "\ebab";
}
.a-marker-approve:before {
  content: "\ebac";
}
.a-marker-arrow-up:before {
  content: "\ebad";
}
.a-marker-avatar:before {
  content: "\ebae";
}
.a-marker-basic:before {
  content: "\ebaf";
}
.a-marker-cart:before {
  content: "\ebb0";
}
.a-marker-desktop:before {
  content: "\ebb1";
}
.a-marker-directions:before {
  content: "\ebb2";
}
.a-marker-dollar-3:before {
  content: "\ebb3";
}
.a-marker-dollar:before {
  content: "\ebb4";
}
.a-marker-fail:before {
  content: "\ebb5";
}
.a-marker-home:before {
  content: "\ebb6";
}
.a-marker-info:before {
  content: "\ebb7";
}
.a-marker-mail:before {
  content: "\ebb8";
}
.a-marker-minus:before {
  content: "\ebb9";
}
.a-marker-plus:before {
  content: "\ebba";
}
.a-marker-rotation:before {
  content: "\ebbb";
}
.a-marker-wifi:before {
  content: "\ebbc";
}
.a-marker:before {
  content: "\ebbd";
}
.a-mask:before {
  content: "\ebbe";
}
.a-maze:before {
  content: "\ebbf";
}
.a-medic:before {
  content: "\ebc0";
}
.a-medical-chart:before {
  content: "\ebc1";
}
.a-medical:before {
  content: "\ebc2";
}
.a-medicine-2:before {
  content: "\ebc3";
}
.a-medicine:before {
  content: "\ebc4";
}
.a-medkit:before {
  content: "\ebc5";
}
.a-megaphone-2:before {
  content: "\ebc6";
}
.a-megaphone:before {
  content: "\ebc7";
}
.a-memory-card:before {
  content: "\ebc8";
}
.a-menu-layout:before {
  content: "\ebc9";
}
.a-menu:before {
  content: "\ebca";
}
.a-microscope:before {
  content: "\ebcb";
}
.a-microwave:before {
  content: "\ebcc";
}
.a-minus-2:before {
  content: "\ebcd";
}
.a-minus:before {
  content: "\ebce";
}
.a-mobile-arrows-up:before {
  content: "\ebcf";
}
.a-mobile-card:before {
  content: "\ebd0";
}
.a-mobile-chat-2:before {
  content: "\ebd1";
}
.a-mobile-chat-approve:before {
  content: "\ebd2";
}
.a-mobile-chat:before {
  content: "\ebd3";
}
.a-mobile-checkbox:before {
  content: "\ebd4";
}
.a-mobile-checked:before {
  content: "\ebd5";
}
.a-mobile-clock:before {
  content: "\ebd6";
}
.a-mobile-connect:before {
  content: "\ebd7";
}
.a-mobile-credit-card:before {
  content: "\ebd8";
}
.a-mobile-crossed:before {
  content: "\ebd9";
}
.a-mobile-dollar-2:before {
  content: "\ebda";
}
.a-mobile-dollar:before {
  content: "\ebdb";
}
.a-mobile-down:before {
  content: "\ebdc";
}
.a-mobile-exclamation:before {
  content: "\ebdd";
}
.a-mobile-gear-checked:before {
  content: "\ebde";
}
.a-mobile-gear:before {
  content: "\ebdf";
}
.a-mobile-home-2:before {
  content: "\ebe0";
}
.a-mobile-home:before {
  content: "\ebe1";
}
.a-mobile-info:before {
  content: "\ebe2";
}
.a-mobile-key:before {
  content: "\ebe3";
}
.a-mobile-locked:before {
  content: "\ebe4";
}
.a-mobile-magnify:before {
  content: "\ebe5";
}
.a-mobile-mail:before {
  content: "\ebe6";
}
.a-mobile-marker:before {
  content: "\ebe7";
}
.a-mobile-minus:before {
  content: "\ebe8";
}
.a-mobile-music:before {
  content: "\ebe9";
}
.a-mobile-no:before {
  content: "\ebea";
}
.a-mobile-not:before {
  content: "\ebeb";
}
.a-mobile-pen-calendar:before {
  content: "\ebec";
}
.a-mobile-pencil:before {
  content: "\ebed";
}
.a-mobile-pic:before {
  content: "\ebee";
}
.a-mobile-play:before {
  content: "\ebef";
}
.a-mobile-plus:before {
  content: "\ebf0";
}
.a-mobile-question:before {
  content: "\ebf1";
}
.a-mobile-repeat:before {
  content: "\ebf2";
}
.a-mobile-shield:before {
  content: "\ebf3";
}
.a-mobile-tool:before {
  content: "\ebf4";
}
.a-mobile-up:before {
  content: "\ebf5";
}
.a-mobile-video_1:before {
  content: "\ebf6";
}
.a-mobile-video-player:before {
  content: "\ebf7";
}
.a-mobile-video:before {
  content: "\ebf8";
}
.a-mobile-wifi:before {
  content: "\ebf9";
}
.a-mobile-yes:before {
  content: "\ebfa";
}
.a-mobile:before {
  content: "\ebfb";
}
.a-money-bag_1:before {
  content: "\ebfc";
}
.a-money-bag:before {
  content: "\ebfd";
}
.a-money-cell:before {
  content: "\ebfe";
}
.a-money-magnify-2:before {
  content: "\ebff";
}
.a-money-magnify:before {
  content: "\ec00";
}
.a-money-suitcase:before {
  content: "\ec01";
}
.a-money-talk:before {
  content: "\ec02";
}
.a-money:before {
  content: "\ec03";
}
.a-mouse:before {
  content: "\ec04";
}
.a-move:before {
  content: "\ec05";
}
.a-movie-2:before {
  content: "\ec06";
}
.a-movie-glasses:before {
  content: "\ec07";
}
.a-multidirectional:before {
  content: "\ec08";
}
.a-multiply-2:before {
  content: "\ec09";
}
.a-multiply:before {
  content: "\ec0a";
}
.a-newspaper:before {
  content: "\ec0b";
}
.a-night:before {
  content: "\ec0c";
}
.a-notes:before {
  content: "\ec0d";
}
.a-nurse:before {
  content: "\ec0e";
}
.a-operators:before {
  content: "\ec0f";
}
.a-outbox:before {
  content: "\ec10";
}
.a-oven:before {
  content: "\ec11";
}
.a-package-open:before {
  content: "\ec12";
}
.a-package:before {
  content: "\ec13";
}
.a-paint-roller:before {
  content: "\ec14";
}
.a-paint:before {
  content: "\ec15";
}
.a-paper-plane:before {
  content: "\ec16";
}
.a-paperclip-2:before {
  content: "\ec17";
}
.a-paperclip:before {
  content: "\ec18";
}
.a-parameters-2:before {
  content: "\ec19";
}
.a-parameters-3:before {
  content: "\ec1a";
}
.a-parameters:before {
  content: "\ec1b";
}
.a-partly-cloudy:before {
  content: "\ec1c";
}
.a-passport:before {
  content: "\ec1d";
}
.a-password:before {
  content: "\ec1e";
}
.a-pen-2:before {
  content: "\ec1f";
}
.a-pen:before {
  content: "\ec20";
}
.a-pencil-2:before {
  content: "\ec21";
}
.a-pencil:before {
  content: "\ec22";
}
.a-percentage-up:before {
  content: "\ec23";
}
.a-percentage:before {
  content: "\ec24";
}
.a-person-arrow-right-2:before {
  content: "\ec25";
}
.a-person-arrow-right:before {
  content: "\ec26";
}
.a-person-badge:before {
  content: "\ec27";
}
.a-person-chart-bar:before {
  content: "\ec28";
}
.a-person-chart-pie:before {
  content: "\ec29";
}
.a-person-chart-up:before {
  content: "\ec2a";
}
.a-person-chart:before {
  content: "\ec2b";
}
.a-person-chat_1:before {
  content: "\ec2c";
}
.a-person-chat-2:before {
  content: "\ec2d";
}
.a-person-chat:before {
  content: "\ec2e";
}
.a-person-clock:before {
  content: "\ec2f";
}
.a-person-corners:before {
  content: "\ec30";
}
.a-person-dollar:before {
  content: "\ec31";
}
.a-person-eye:before {
  content: "\ec32";
}
.a-person-friends:before {
  content: "\ec33";
}
.a-person-gear_1:before {
  content: "\ec34";
}
.a-person-gear-2:before {
  content: "\ec35";
}
.a-person-gear:before {
  content: "\ec36";
}
.a-person-globe-2:before {
  content: "\ec37";
}
.a-person-globe:before {
  content: "\ec38";
}
.a-person-group:before {
  content: "\ec39";
}
.a-person-hands:before {
  content: "\ec3a";
}
.a-person-home:before {
  content: "\ec3b";
}
.a-person-idea:before {
  content: "\ec3c";
}
.a-person-info:before {
  content: "\ec3d";
}
.a-person-key:before {
  content: "\ec3e";
}
.a-person-left-right:before {
  content: "\ec3f";
}
.a-person-ligthbulb:before {
  content: "\ec40";
}
.a-person-mail:before {
  content: "\ec41";
}
.a-person-mobile:before {
  content: "\ec42";
}
.a-person-notebook:before {
  content: "\ec43";
}
.a-person-option-h:before {
  content: "\ec44";
}
.a-person-option-v:before {
  content: "\ec45";
}
.a-person-player:before {
  content: "\ec46";
}
.a-person-presentation:before {
  content: "\ec47";
}
.a-person-question:before {
  content: "\ec48";
}
.a-person-rotation-2:before {
  content: "\ec49";
}
.a-person-rotation:before {
  content: "\ec4a";
}
.a-person-search:before {
  content: "\ec4b";
}
.a-person-selected:before {
  content: "\ec4c";
}
.a-person-squirrel:before {
  content: "\ec4d";
}
.a-person-stairs-up:before {
  content: "\ec4e";
}
.a-person-stopwatch:before {
  content: "\ec4f";
}
.a-person-suitecase-chart:before {
  content: "\ec50";
}
.a-person-target:before {
  content: "\ec51";
}
.a-person-timer:before {
  content: "\ec52";
}
.a-person-tool:before {
  content: "\ec53";
}
.a-person-video_1:before {
  content: "\ec54";
}
.a-person-video:before {
  content: "\ec55";
}
.a-person-wifi:before {
  content: "\ec56";
}
.a-phone-2:before {
  content: "\ec57";
}
.a-phone-3:before {
  content: "\ec58";
}
.a-phone-4:before {
  content: "\ec59";
}
.a-phone-5:before {
  content: "\ec5a";
}
.a-phone-6:before {
  content: "\ec5b";
}
.a-phone-7:before {
  content: "\ec5c";
}
.a-phone-8:before {
  content: "\ec5d";
}
.a-phone-9:before {
  content: "\ec5e";
}
.a-phone-10:before {
  content: "\ec5f";
}
.a-phone-24:before {
  content: "\ec60";
}
.a-phone-book-2:before {
  content: "\ec61";
}
.a-phone-book:before {
  content: "\ec62";
}
.a-phone-circle:before {
  content: "\ec63";
}
.a-phone-clock:before {
  content: "\ec64";
}
.a-phone-in-out:before {
  content: "\ec65";
}
.a-phone-in:before {
  content: "\ec66";
}
.a-phone-info:before {
  content: "\ec67";
}
.a-phone-list:before {
  content: "\ec68";
}
.a-phone-locked:before {
  content: "\ec69";
}
.a-phone-minus:before {
  content: "\ec6a";
}
.a-phone-no:before {
  content: "\ec6b";
}
.a-phone-out-2:before {
  content: "\ec6c";
}
.a-phone-out-3:before {
  content: "\ec6d";
}
.a-phone-out:before {
  content: "\ec6e";
}
.a-phone-plus:before {
  content: "\ec6f";
}
.a-phone-question:before {
  content: "\ec70";
}
.a-phone-ring:before {
  content: "\ec71";
}
.a-phone-square:before {
  content: "\ec72";
}
.a-phone-talk:before {
  content: "\ec73";
}
.a-phone-yes:before {
  content: "\ec74";
}
.a-phone:before {
  content: "\ec75";
}
.a-piano:before {
  content: "\ec76";
}
.a-picture:before {
  content: "\ec77";
}
.a-piggybank_1:before {
  content: "\ec78";
}
.a-piggybank:before {
  content: "\ec79";
}
.a-pill-2:before {
  content: "\ec7a";
}
.a-pill:before {
  content: "\ec7b";
}
.a-pin:before {
  content: "\ec7c";
}
.a-pingpong:before {
  content: "\ec7d";
}
.a-plane:before {
  content: "\ec7e";
}
.a-plug:before {
  content: "\ec7f";
}
.a-plus-2:before {
  content: "\ec80";
}
.a-plus:before {
  content: "\ec81";
}
.a-podium-2:before {
  content: "\ec82";
}
.a-podium:before {
  content: "\ec83";
}
.a-pointer-2:before {
  content: "\ec84";
}
.a-pointer-3:before {
  content: "\ec85";
}
.a-pointer:before {
  content: "\ec86";
}
.a-poolchair:before {
  content: "\ec87";
}
.a-potion:before {
  content: "\ec88";
}
.a-presentation-2_1:before {
  content: "\ec89";
}
.a-presentation-2:before {
  content: "\ec8a";
}
.a-presentation-3:before {
  content: "\ec8b";
}
.a-presentation:before {
  content: "\ec8c";
}
.a-print:before {
  content: "\ec8d";
}
.a-profile-book:before {
  content: "\ec8e";
}
.a-profile-magnify:before {
  content: "\ec8f";
}
.a-profile-page:before {
  content: "\ec90";
}
.a-puzzle-2:before {
  content: "\ec91";
}
.a-puzzle-3:before {
  content: "\ec92";
}
.a-puzzle:before {
  content: "\ec93";
}
.a-q-and-a:before {
  content: "\ec94";
}
.a-radio:before {
  content: "\ec95";
}
.a-rain-2:before {
  content: "\ec96";
}
.a-rain:before {
  content: "\ec97";
}
.a-receipt:before {
  content: "\ec98";
}
.a-recycle:before {
  content: "\ec99";
}
.a-recycling-leaf:before {
  content: "\ec9a";
}
.a-refresh-2:before {
  content: "\ec9b";
}
.a-refresh-attention:before {
  content: "\ec9c";
}
.a-refresh-not:before {
  content: "\ec9d";
}
.a-refresh:before {
  content: "\ec9e";
}
.a-replace:before {
  content: "\ec9f";
}
.a-rotate-both:before {
  content: "\eca0";
}
.a-rotate-left-2:before {
  content: "\eca1";
}
.a-rotate-left-3:before {
  content: "\eca2";
}
.a-rotate-left-4:before {
  content: "\eca3";
}
.a-rotate-left:before {
  content: "\eca4";
}
.a-rotate-right-2:before {
  content: "\eca5";
}
.a-rotate-right:before {
  content: "\eca6";
}
.a-roundabout:before {
  content: "\eca7";
}
.a-rulers:before {
  content: "\eca8";
}
.a-safe_1:before {
  content: "\eca9";
}
.a-safe:before {
  content: "\ecaa";
}
.a-sailboat:before {
  content: "\ecab";
}
.a-saw:before {
  content: "\ecac";
}
.a-scale:before {
  content: "\ecad";
}
.a-scissors:before {
  content: "\ecae";
}
.a-screen-grid:before {
  content: "\ecaf";
}
.a-screen-video:before {
  content: "\ecb0";
}
.a-scuba:before {
  content: "\ecb1";
}
.a-select-box-2:before {
  content: "\ecb2";
}
.a-select-box:before {
  content: "\ecb3";
}
.a-select-rectangle:before {
  content: "\ecb4";
}
.a-select-square:before {
  content: "\ecb5";
}
.a-server-stack:before {
  content: "\ecb6";
}
.a-server:before {
  content: "\ecb7";
}
.a-shield-2:before {
  content: "\ecb8";
}
.a-shield-3:before {
  content: "\ecb9";
}
.a-shield-4:before {
  content: "\ecba";
}
.a-shield-dollar:before {
  content: "\ecbb";
}
.a-shield-person:before {
  content: "\ecbc";
}
.a-shield:before {
  content: "\ecbd";
}
.a-ship-front:before {
  content: "\ecbe";
}
.a-ship:before {
  content: "\ecbf";
}
.a-signal-bar:before {
  content: "\ecc0";
}
.a-sim:before {
  content: "\ecc1";
}
.a-smaller:before {
  content: "\ecc2";
}
.a-snow:before {
  content: "\ecc3";
}
.a-snowstorm-2:before {
  content: "\ecc4";
}
.a-snowstorm:before {
  content: "\ecc5";
}
.a-soccerball:before {
  content: "\ecc6";
}
.a-spade:before {
  content: "\ecc7";
}
.a-speaker_1:before {
  content: "\ecc8";
}
.a-speaker:before {
  content: "\ecc9";
}
.a-split-2:before {
  content: "\ecca";
}
.a-split-3:before {
  content: "\eccb";
}
.a-split-4:before {
  content: "\eccc";
}
.a-split-5:before {
  content: "\eccd";
}
.a-split-6:before {
  content: "\ecce";
}
.a-square-arrow-90:before {
  content: "\eccf";
}
.a-square-gear:before {
  content: "\ecd0";
}
.a-square-left-2:before {
  content: "\ecd1";
}
.a-square-left:before {
  content: "\ecd2";
}
.a-square-maximize:before {
  content: "\ecd3";
}
.a-square-minimize:before {
  content: "\ecd4";
}
.a-square-right-2:before {
  content: "\ecd5";
}
.a-square-right:before {
  content: "\ecd6";
}
.a-star-2:before {
  content: "\ecd7";
}
.a-star-3:before {
  content: "\ecd8";
}
.a-star-4:before {
  content: "\ecd9";
}
.a-star:before {
  content: "\ecda";
}
.a-starfish:before {
  content: "\ecdb";
}
.a-stetoscope:before {
  content: "\ecdc";
}
.a-stopwatch-2:before {
  content: "\ecdd";
}
.a-stopwatch-3:before {
  content: "\ecde";
}
.a-stopwatch-4:before {
  content: "\ecdf";
}
.a-stopwatch-5:before {
  content: "\ece0";
}
.a-stopwatch-6:before {
  content: "\ece1";
}
.a-stopwatch-7:before {
  content: "\ece2";
}
.a-stopwatch-8:before {
  content: "\ece3";
}
.a-stopwatch-checked:before {
  content: "\ece4";
}
.a-stopwatch-fast:before {
  content: "\ece5";
}
.a-stopwatch-gear:before {
  content: "\ece6";
}
.a-stopwatch:before {
  content: "\ece7";
}
.a-stovetop:before {
  content: "\ece8";
}
.a-strategy:before {
  content: "\ece9";
}
.a-subway:before {
  content: "\ecea";
}
.a-suitcase-2:before {
  content: "\eceb";
}
.a-suitcase-arrow-up:before {
  content: "\ecec";
}
.a-suitcase-chart-bar:before {
  content: "\eced";
}
.a-suitcase-chart-pie:before {
  content: "\ecee";
}
.a-suitcase-chart-up:before {
  content: "\ecef";
}
.a-suitcase-chart:before {
  content: "\ecf0";
}
.a-suitcase-doc:before {
  content: "\ecf1";
}
.a-suitcase-dollar:before {
  content: "\ecf2";
}
.a-suitcase-gear:before {
  content: "\ecf3";
}
.a-suitcase-pencil:before {
  content: "\ecf4";
}
.a-suitcase-search:before {
  content: "\ecf5";
}
.a-suitcase-tool:before {
  content: "\ecf6";
}
.a-suitcase:before {
  content: "\ecf7";
}
.a-sun-head:before {
  content: "\ecf8";
}
.a-sun:before {
  content: "\ecf9";
}
.a-swimmer:before {
  content: "\ecfa";
}
.a-switch-left-2:before {
  content: "\ecfb";
}
.a-switch-left-3:before {
  content: "\ecfc";
}
.a-switch-left:before {
  content: "\ecfd";
}
.a-switch-right-2:before {
  content: "\ecfe";
}
.a-switch-right-3:before {
  content: "\ecff";
}
.a-switch-right:before {
  content: "\ed00";
}
.a-syringe:before {
  content: "\ed01";
}
.a-tablet:before {
  content: "\ed02";
}
.a-tag-checked:before {
  content: "\ed03";
}
.a-tag-minus:before {
  content: "\ed04";
}
.a-tag-multiply:before {
  content: "\ed05";
}
.a-tag-plus:before {
  content: "\ed06";
}
.a-tag:before {
  content: "\ed07";
}
.a-talk-arrows:before {
  content: "\ed08";
}
.a-talk-corner:before {
  content: "\ed09";
}
.a-talk-people-2:before {
  content: "\ed0a";
}
.a-talk-people:before {
  content: "\ed0b";
}
.a-talk-play:before {
  content: "\ed0c";
}
.a-taller:before {
  content: "\ed0d";
}
.a-tape:before {
  content: "\ed0e";
}
.a-target-2_1:before {
  content: "\ed0f";
}
.a-target-2:before {
  content: "\ed10";
}
.a-target-3:before {
  content: "\ed11";
}
.a-target-4:before {
  content: "\ed12";
}
.a-target-5:before {
  content: "\ed13";
}
.a-target-6:before {
  content: "\ed14";
}
.a-target:before {
  content: "\ed15";
}
.a-team:before {
  content: "\ed16";
}
.a-teapot:before {
  content: "\ed17";
}
.a-tennisball:before {
  content: "\ed18";
}
.a-theater-video:before {
  content: "\ed19";
}
.a-thermometer:before {
  content: "\ed1a";
}
.a-thinner:before {
  content: "\ed1b";
}
.a-thumbs-up:before {
  content: "\ed1c";
}
.a-thunderstorm-2:before {
  content: "\ed1d";
}
.a-thunderstorm:before {
  content: "\ed1e";
}
.a-ticket:before {
  content: "\ed1f";
}
.a-tie:before {
  content: "\ed20";
}
.a-toaster:before {
  content: "\ed21";
}
.a-tools-2:before {
  content: "\ed22";
}
.a-tools-3:before {
  content: "\ed23";
}
.a-tools:before {
  content: "\ed24";
}
.a-tooth:before {
  content: "\ed25";
}
.a-tornado:before {
  content: "\ed26";
}
.a-tower:before {
  content: "\ed27";
}
.a-train-freight:before {
  content: "\ed28";
}
.a-train:before {
  content: "\ed29";
}
.a-tramway:before {
  content: "\ed2a";
}
.a-trash-2:before {
  content: "\ed2b";
}
.a-trash-3:before {
  content: "\ed2c";
}
.a-trash-4:before {
  content: "\ed2d";
}
.a-trash-circle:before {
  content: "\ed2e";
}
.a-trash-recycle:before {
  content: "\ed2f";
}
.a-trash:before {
  content: "\ed30";
}
.a-tree:before {
  content: "\ed31";
}
.a-triangle-up:before {
  content: "\ed32";
}
.a-trophy-2:before {
  content: "\ed33";
}
.a-trophy-3:before {
  content: "\ed34";
}
.a-trophy:before {
  content: "\ed35";
}
.a-truck-2:before {
  content: "\ed36";
}
.a-truck-concrete:before {
  content: "\ed37";
}
.a-truck-dump:before {
  content: "\ed38";
}
.a-truck:before {
  content: "\ed39";
}
.a-tv:before {
  content: "\ed3a";
}
.a-umbrella:before {
  content: "\ed3b";
}
.a-unlocked:before {
  content: "\ed3c";
}
.a-up-arrow-circle:before {
  content: "\ed3d";
}
.a-upload-2:before {
  content: "\ed3e";
}
.a-upload:before {
  content: "\ed3f";
}
.a-usb:before {
  content: "\ed40";
}
.a-video:before {
  content: "\ed41";
}
.a-vile:before {
  content: "\ed42";
}
.a-visiontest:before {
  content: "\ed43";
}
.a-volleyball:before {
  content: "\ed44";
}
.a-wallet:before {
  content: "\ed45";
}
.a-warning:before {
  content: "\ed46";
}
.a-washer:before {
  content: "\ed47";
}
.a-watch-2:before {
  content: "\ed48";
}
.a-watch:before {
  content: "\ed49";
}
.a-water:before {
  content: "\ed4a";
}
.a-weights-2:before {
  content: "\ed4b";
}
.a-weights:before {
  content: "\ed4c";
}
.a-wheel-2:before {
  content: "\ed4d";
}
.a-wheel:before {
  content: "\ed4e";
}
.a-whiteboard:before {
  content: "\ed4f";
}
.a-wider:before {
  content: "\ed50";
}
.a-wifi:before {
  content: "\ed51";
}
.a-wind:before {
  content: "\ed52";
}
.a-windows-2:before {
  content: "\ed53";
}
.a-windows:before {
  content: "\ed54";
}
.a-windsock:before {
  content: "\ed55";
}
.a-windturbine:before {
  content: "\ed56";
}
.a-wireless:before {
  content: "\ed57";
}
.a-woman-headset:before {
  content: "\ed58";
}
.a-woman:before {
  content: "\ed59";
}
.a-worker-2:before {
  content: "\ed5a";
}
.a-worker:before {
  content: "\ed5b";
}
.a-wrench-2:before {
  content: "\ed5c";
}
.a-wrench-circle:before {
  content: "\ed5d";
}
.a-wrench:before {
  content: "\ed5e";
}
.a-write:before {
  content: "\ed5f";
}
.a-zoom-in-2:before {
  content: "\ed60";
}
.a-zoom-in-3:before {
  content: "\ed61";
}
.a-zoom-in:before {
  content: "\ed62";
}
.a-zoom-out-2:before {
  content: "\ed63";
}
.a-zoom-out:before {
  content: "\ed64";
}
